<?xml version="1.0" encoding="utf-8" ?>
<FolderMirroringMaps>
  <FolderMirroringMap FolderPath="..\..\Temp\" FolderLink="TestFolder\"/>
  <FolderMirroringMap FolderPath="D:\Temp\" FolderLink="TestFolder\"/>
</FolderMirroringMaps>